/****************************************
		General Setting  @common
*****************************************/

/* html5doctor.com Reset Stylesheet
v1.4
2009-07-27
Author: Richard Clark - http://richclarkdesign.com
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
hgroup, menu, nav, section,
time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	font-style: normal;
	font-weight: normal;
}

body {
	color: #000000;
	font-family: 'Meiryo', 'メイリオ', 'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', sans-serif;
	font-size: 14px;
	line-height: 1.3em;
	letter-spacing: 1px;

}

article, aside, dialog, figure, footer, header,
hgroup, nav, section {
	display:block;
}

nav ul {
	list-style:none;
}

ul, ol {
	list-style: none;
}

ul li, ol li {
	list-style: none;
}

blockquote, q {
	quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content:'';
	content:none;
}

a {
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;

}

ins {

	text-decoration:none;
}

mark {

	font-style:italic;
	font-weight:bold;
}

del {
	text-decoration: line-through;
}

abbr[title], dfn[title] {
	cursor:help;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;
    margin:1em 0;
    padding:0;
}

input, select, button {
	vertical-align:middle;
}

.clear {
	clear: both;
}

/*** clearfix ***/
/* For modern browsers */
.cf:before,
.cf:after {
    content:"";
    display:table;
}
 
.cf:after {
    clear:both;
}
 
/* For IE 6/7 (trigger hasLayout) */
.cf {
	display: block;
    zoom:1;
}

/* link */

a {
	color: #3F3A3A;


}
a:hover {
	color: #72bf75;


}

/*
a:hover img {
	opacity:0.7;
	filter: alpha(opacity=70);
	-ms-filter: "alpha( opacity=70 )";
	transition: 0.5s;

}
*/

.opacity {
	opacity:0.3;
	filter: alpha(opacity=30);
	-ms-filter: "alpha( opacity=30 )";

}

.opacity0 {
	opacity:0;
	filter: alpha(opacity=0);
	-ms-filter: "alpha( opacity=0 )";
}

/* boxshadow */
.boxshadow {
    box-shadow: 5px 5px 5px rgba(0,0,0,0.25);
    -moz-box-shadow: 5px 5px 5px rgba(0,0,0,0.25);
    -webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.25);
}



/* ----- 選択時反転色 ----- */
::selection {
  background-color: #F7931E;
  color: #000000;
}

/* Firefox */
::-moz-selection {
  background-color: #F7931E;
  color: #000000;
}
/* ----- 選択時反転色 ----- */

/******************************************/

html {
	background: #FFFFFF;
	width: 100%;
}

body {
	margin-top: 50px;
	width: 100%;
}

div {
	text-align: center;
}

